.navContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $primary-color;
  background: rgba(255, 255, 255, 0.904);;
  .dark-mode & {
    background: $dark-color;
  }
  box-shadow: 1px 1px 2px #444444b6;
  top: 0;
  padding: 1.5rem 3.5rem;
  width: 100%;
  height: 90px;
  z-index: 99;
  @include easeInOut;
}

.navScroll {
  .dark-mode & {
    background: #181818ee;
  }
}

.navContent {
  // width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  ul.links{
    display: flex;
  }
  padding-left: 2rem;
  width: 80%;
  margin: 0;
  li {
    margin: 0 1rem; 
    @include easeInOut;
  }
}

.linksContainer{
 justify-content: space-between;
 width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    box-shadow: 1px 1px 9px #444444;
    color: $primary-color;
    background: rgba(255, 255, 255, 0.904);
    overflow: hidden !important;
    .dark-mode & {
      background: $dark-color;
    }

    ul.links{
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 70%;
    }
    min-height: 100vh;
    width: 65%;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 8;
    @include easeInOut;
    align-items: center;
    text-align: center;
    overflow: scroll;
  
    @media (max-width: 350px){
      width: 80%;
    }
    

  
    transform: translateX(100%);
    &.open-nav {
      // transform-origin: right;
      transform: translateX(0%);
      ul.links li {
        margin: 1rem 0;
      }
    }
  }
}
.change-lang {
  width: auto;
  min-width: 33%;
.lang{
  a{
    color: $primary-color;

    font-size: 18px;
    &:hover{
          svg{
            transform:scale(1.2) rotate(360deg)
          }
    }
    svg{
      @include easeInOut;
      path{
        stroke:$primary-color;
      }
    }
  }
  @media (max-width: 767px){
    min-width: 45%;
    margin-top: 2rem;
    a{
      margin-bottom: 1rem;
    }
  }
}
}

.navLink {
  font-size: 18px;
  font-weight: bold;
  color: $primary-color;

}

.logo {
  @include easeInOut;
  filter: contrast(0.4);
  .dark-mode & {
    filter: unset;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  @media (max-width: 767px) {
    position: fixed;
    left: 2.1rem;
    top: 1.5rem;
  }
  @media (max-width: 400px) {
    left: 1rem;
    width: 130px;
    top: 1.2rem;
  }
}


// style on mobile
.menuBtn {
  display: none; /////////////////
  position: absolute;
  position: fixed;
  right: 2.1rem;
  top: 1.8rem;
  cursor: pointer;
  z-index: 9;
  @include easeInOut;
//   [dir = rtl] & {
//     left: 2.1rem;
//     right: auto;
//  }
  @media (max-width: 767px) {
    display: block;
  }
  @media (max-width: 370px) {
    right: 1rem;
  }
}
.closeMenu {
  transform: rotate(180deg);
  // rotate LINE 1
  & :nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  // hide LINE 2
  & :nth-child(2) {
    opacity: 0;
  }
  // rotate LINE 3
  & :nth-child(3) {
    transform: rotate(-45deg) translate(11px, -11px);
  }
}
.btnLine {
  width: 1.9rem;
  height: 0.3rem;
  margin: 0 0 0.4rem 0;
  @include easeInOut;
  background: $dark-color;
  .dark-mode &{
    background: white;

  }
}


////
.auth-btn{
  border: 2px solid white ;
  border-radius: $radius;
  color: white !important;
  padding-top: .5rem !important;
  &:hover{
     background-color: #e56732  !important;
  }
}




// style shopping_cart-container
.shopping_cart-container{
  position: relative;
  color: white;
  margin-top: -1rem;
  @media (max-width: 767px){
    position: fixed !important;
    right: 6rem;
    top: 2rem;
    z-index: 5;
  }
  &:hover{
    .custom-tooltip{
      transform: scale(1.2) translateY(3px);
    }
  }
  .quantity{
    position: absolute;
    right: -10px;
    z-index: 4;
    border: 2px solid;
    width: 20px;
    height: 20px;
    background: $gradient-color;
    top: -3px;
    font-size: 12px;
  }

  .custom-tooltip{
    position: absolute;
   @include easeInOut;
    border: 1px solid;
    min-width: 60px;
    bottom: -2rem;
    right: calc(50% - 30px);
    font-size: 14px;
    background: $gradient-color;
    border-radius: 12px;


    span{
      z-index: 3;
      position: relative;
      background: $gradient-color;
      border-radius: 12px;
    }

    &:after{
      position: absolute;
      content: '';
      width: 14px;
      height: 13px;
      z-index: 1;
      background-color: #dc332e;
      border: 1px solid;
      border-radius: 50%;
      top: -0.4rem;
      right: -webkit-calc(50% - 10px);
      right: calc(50% - 7px);
    }
  }
}



// style my-account
.my-account, .mode-container{
  position: relative;
  cursor: pointer;
}

