.home-page{
    .title{
        font-size: 44px;
        span{
            color: transparent;
            background-image: url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
            background-clip: text;
        }
    }
    .subtitle{
        color: darken($text-color, 40) ;
        font-size: 20px;

        .dark-mode &{
        color: lighten($text-color, 40) ;

        }
    }

    @media screen and (max-width: 480px) {
        .title{
            font-size: 26px;
        }
        .subtitle{
            font-size: 16px;
        }
    }
}